<a href="https://colab.research.google.com/github/annarim/arimlee/blob/main/Untitled53.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.큰 그림 보기

2.데이터 구하기

In [6]:
#데이터 다운로드
from pathlib import Path
import pandas as pd
import tarfile
import urllib.request

def load_housing_data():   #함수 호출해 datasets/housing.tgz파일 찾기
  tarball_path=Path('datasets/housing.tgz')
  if not tarball_path.is_file():  #파일 찾지 못하면
    Path('datasets').mkdir(parents=True,exist_ok=True)  #datasets 디렉토리 만들고
    url ='https://github.com/ageron/data/raw/main/housing.tgz' #ageron/data 깃허브 저장소에서 housing.tgz 다운 후 압축 풀기
    urllib.request.urlretrieve(url,tarball_path)
    with tarfile.open(tarball_path) as housing_tarball:
      housing_tarball.extractall(path='datasets')
  return pd.read_csv(Path('datasets/housing/housing.csv'))
housing = load_housing_data()

In [7]:
housing.info()  #전체 행 수,각 특성의 데이터 타입과 넘이 아닌 값의 개수 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [8]:
housing['ocean_proximity'].value_counts() #어떤 카테고리가 있고 각 카테고리마다 얼마나 많은 구역이 있는지 확인

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [9]:
housing.describe()  #숫자형 특성의 요약 정보를 보여준다

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

3.데이터 탐색하고 시각화하기

4.데이터 준비하기

5.모델 선택하고 훈련하기

6.모델 미세 튜닝하기

7.해결책 제시하기

8.시스템 론칭,모니터링,유지 보수하기