<a href="https://colab.research.google.com/github/annarim/arimlee/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=4
b=5

print("a+b=a+b입니다")
print(a,"+",b,"=",a+b,"입니다")

print(f"{a}+{b}={a+b}입니다")

a=3; b=4
print("{0}+{1}는 {2}입니다".format(a,b,a+b))

a+b=a+b입니다
4 + 5 = 9 입니다
4+5=9입니다
3+4는 7입니다

In [ ]:
print("1234567890")
print("%10d"   %12.45632)
print("%10.3f" %12.45632)

1234567890
        12
    12.456

In [ ]:
print(2,3,4, sep=',')
print(1,"\n",2,"\n",3,"\n")

2,3,4
1
 2
 3

1|n2|n3

In [ ]:
a=int(input("정수1 입력?"))